* {
    font-family: "Roboto";
    color: white;
    margin: 0px;
}

.active {
    font-weight: bold;
}

.nav {
    vertical-align: top;
    height: 30px;
    background-color: black;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-links {
    display: flex;
    font-size: 20px;
}

.nav-links a {
    margin: 30px;
    text-decoration: none;
}

.nav-title {
    font-size: 40px;
    margin-right: 20px;
}

.btn {
    border: 3px solid black;
    font-size: 1.1em;
    background-color: lightseagreen;
    padding: 2px 8px 2px 8px;
    box-shadow: 2px 2px 2px black;
    margin-left: 5px;
}